<!DOCTYPE html>
<html lang="en">
    <!--Встановлення кодування символів та метатегу для адаптивності-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identification Form</title>
    <!--Посилання на зовнішній файл стилів для компонента-->
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <!--Використання компонента app-header-->
    <app-header></app-header>
    <!--Використання компонента app-login-form-->
    <app-login-form></app-login-form>
</body>
</html>
