body {
    /*Встановлення основних стилів для тіла документа*/
    font-family: Arial, sans-serif;/*Встановлення шрифту*/
    margin: 0;/*Встановлення зовнішнього відступу*/
    padding: 0;/*Встановлення внутрішнього відступу*/
    background: linear-gradient(to bottom, #4cbcec, #cdd9ff, #ffff);/*Встановлення фонового градієнту*/
    display: flex;/*Встановлення типу відображення елементів(гнучкий контейнер)*/
    align-items: center;/*Вирівнювання елементів по вертикалі*/
    justify-content: center;/*Вирівнювання елементів по горизонталі*/
    height: 100vh;/*Встановлення висоти на весь екран*/
    overflow: hidden;/*Відлючення прокрутки*/
}

.logo {
    width: 100%;/*Встановлення ширини логотипу*/
    display: block; /*Встановлення блочного відображення*/
    margin: 0 auto; /*Автоматичне вирівнювання по горизонталі*/
    transform: translateX(13%); /*Зміщування логотипу правору*/
}
form {
    width: 95%;/*Встановлення ширини форми*/
    max-width: 400px;/*Встановлення максимальної ширини форми*/
    padding: 20px;/*Встановлення внутрішніх відступів*/
    margin-left: auto; /*Вирівнювання по лівому краю*/
    margin-right: auto; /*Вирівнювання по правому краю*/
}

label {
    display: block;/*Встановлення блочного відображення*/
    font-size: 1.2em;/*Встановлення розміру шрифта*/
    margin-bottom: 5px;/*встановлення зовнішнього відступу вниз*/
}

input[type="email"],
input[type="text"] {
    width: 100%;/*Встановлення ширини*/
    padding: 10px;/*Встановлення внутрішніх відступів*/
    margin-bottom: 10px;/*Встановлення зовнішнього відступу вниз*/
    border: 1px solid #ccc;/*Встановлення рамки*/
    border-radius: 5px;/*Встановлення радіуса кутів*/
    box-sizing: border-box;/*Встановлення відображення бордеру всередині елементу*/
}

button[type="submit"] {
    width: 100%;/*Встановлення ширини*/
    padding: 10px;/*Встановлення внутрішніх відступів*/
    background-color: #4cbcec;/*Встановлення кольорру фону*/
    color: #fff;/*Встановлення кольору тексту*/
    border: none;/*Встановлення рамки*/
    border-radius: 5px;/*Встановлення радіуса кутів*/
    cursor: pointer;/*Встановлення курсору*/
}

button[type="submit"]:hover {
    background-color: #00b3ff;/*Встановлення кольору фону при наведенні курсору*/
}
